body {
    margin-top: 75px;
    /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

img {
    max-width: 100%;
    /* for responsive image size */
}

.navbar {
    font-weight: 500;
    height: 55px;
    padding-top: 5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #333333;
}

.page-header {
    margin-top: 20px;
    font-weight: bold;
}

.li-menu>li {
    margin-bottom: 8px;
}

.update-time {
    vertical-align: top;
    display: inline-block;
    width: 8%;
}
.update-content {
    display: inline-block;
    width: 90%;
}

.panel-title {
    font-weight: 600;
    color: #337ab7;
}

.people-profile {
    font-size: 12px;
    min-height: 105px;
}

.people-profile>img {
    width: 100px;
    border-radius: 10px;
    background-color: #e6e6e6;
    padding: 3px;
    float: left;
    margin-right: 10px;
}

.people-info {
    font-size: 12px;
    margin-bottom: 25px;
}

.content {
    padding: 5px;
}

.content>h1,
.content>h2,
.content>h3,
.content>h4 {
    font-weight: 500;
}

/* make figures look prettier */

figure {
    margin: 15px;
}

figure figcaption {
    margin-top: 15px;
    color: #666;
    font-size: 0.9em;
}

.label-default {
    background-color: transparent;
    padding: 0;
    /* line-height: 25px; */
}
.label-default::before {
    content: "#"
}

.research-block {
    padding: 10px;
}

.research-block:hover .changeToAbsolute {
    box-shadow: 2px 2px 18px #494e58;
    padding: 5px;
}

@media (min-width: 970px) {
    .research-block:hover .showOnHover {
        display: inherit;
    }
    .research-block:hover .changeToAbsolute {
        position: absolute;
    }
    .research-block {
        height: 150px;
    }
}

.changeToAbsolute {
    z-index: 999;
    background-color: white;
}

.margin-clear {
    margin: 0px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.showOnHover {
    display: none;
}

/* from bootstrap 4.1.3 */

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.marginTop {
    margin-top: 50px;
}
