body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

img {
    max-width: 100%; /* for responsive image size */
}

.page-header {
    margin-top: 20px;
    font-weight: bold;
}

.li-menu > li {
    margin-bottom: 8px;
}

.panel-title {
    font-weight: 600;
    color: #337ab7;
}

.people-profile {
    font-size: 12px;
    height: 115px;
}
.people-profile > img {
    width: 100px;
    border-radius: 10px;
    background-color: #e6e6e6;
    padding: 3px;
    float: left;
    margin-right: 10px;
}

.people-info {
    font-size: 12px;
    margin-bottom: 15px;
}

.content {
    padding: 5px;
}
.content > h1,
.content > h2,
.content > h3,
.content > h4 {
    font-weight: 500;
}

/* make figures look prettier */
figure {
    margin: 15px;
}

figure figcaption {
    margin-top: 15px;
    color: #666;
    font-size: 0.9em;
}

.label-default {
    line-height: 25px;
}