

    <!-- Categories -->
    <div class="well">
        <h4>Tags and Categories</h4>
        <h5>Problems</h5>
        <a class="label label-default" href=/tags/social-media/>social media</a>
        <a class="label label-default" href=/tags/popularity/>popularity</a>
        <a class="label label-default" href=/tags/privacy/>privacy</a>
        <a class="label label-default" href=/tags/language/>language</a>
        <a class="label label-default" href=/tags/vision/>vision</a>
        <a class="label label-default" href=/tags/citations/>citations</a>
        <h5>Methods</h5>
        <a class="label label-default" href=/tags/deeplearning/>deep learning</a>
        <a class="label label-default" href=/tags/stochastic-process/>stochastic process</a>
        <a class="label label-default" href=/categories/visualization/>visualization</a>
        <h5>Meta</h5>
        <a class="label label-default" href=/categories/research/>research</a>
        <a class="label label-default" href=/categories/data/>data</a>
        <a class="label label-default" href=/categories/code/>code</a>
        <a class="label label-default" href=/tags/datasci/>datasci</a>
        <a class="label label-default" href=/categories/news/>news</a>
        <a class="label label-default" href=/categories/group-activity/>group-activity</a>
    </div>

<!-- Ad -->
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><strong>Getting in touch: </strong></h5>
        <h6>-- drop a line if you are interested in knowing more about our work, collaborating, or <a href=http://cm.cecs.anu.edu.au/recruiting/>joining</a> us. <br />
        We are looking for several research fellows who has passion and compelling track record for making a difference in
        machine learning on graphs, <a href=https://hmi.anu.edu.au/>humanising machine intelligence</a>, and modeling online attention.
        We have one PhD opening in 2019 on <a href=http://cm.cecs.anu.edu.au/tags/popularity/>modeling online attention</a>.</h6>
    </div>
