

    <!-- Categories -->
    <div class="well">
        <h4>Categories</h4>
        <h5>Problems</h5>
        <a class="label label-default" href=/tags/social-media/>social media</a>
        <a class="label label-default" href=/tags/popularity/>popularity</a>
        <a class="label label-default" href=/tags/privacy/>privacy</a>
        <a class="label label-default" href=/tags/language/>language</a>
        <a class="label label-default" href=/tags/vision/>vision</a>
        <a class="label label-default" href=/tags/citations/>citations</a>
        <h5>Methods</h5>
        <a class="label label-default" href=/tags/deeplearning/>deep learning</a>
        <a class="label label-default" href=/tags/stochastic-process/>stochastic process</a>
        <a class="label label-default" href=/categories/visualization/>visualization</a>
        <h5>Meta</h5>
        <a class="label label-default" href=/categories/research/>research</a>
        <a class="label label-default" href=/categories/data/>data</a>
        <a class="label label-default" href=/categories/code/>code</a>
        <a class="label label-default" href=/tags/datasci/>datasci</a>
        <a class="label label-default" href=/categories/news/>news</a>
        <a class="label label-default" href=/categories/group-activity/>group-activity</a>
    </div>

<!-- Ad -->
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><strong>Getting in touch: </strong></h5>
        <h6>-- drop a line if you are interested in knowing more about our work, collaborating, or <a href=http://cm.cecs.anu.edu.au/recruiting/>joining</a> us. <br />
        We have two PhD openings in 2018: one on <a href=http://cm.cecs.anu.edu.au/tags/popularity/>Modeling Online Attention</a> and one on <a target="_blank" href=http://www.d2dcrc.com.au/phd-scholarships/picturing-knowledge/>Picturing Everyday Knowledge</a>. We are also looking for research fellow candidates with passion and compelling track record.</h6>
    </div>
