    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Recent updates</h4>
        </div>
        <div class="panel-body">
            <li>The paper "<a href="/post/wikiprivacy/">Evolution of Privacy Loss</a>" will be presented at WSDM'16, Feb. 22-26</li>
            <li><a href="/post/senticap/">SentiCap</a> will be presented at AAAI'16, Feb. 12–17</li>
            <li>Uni has started! We will teach <a href="https://artofcomputing.cecs.anu.edu.au/">Art of Computing</a> and <a href="http://programsandcourses.anu.edu.au/course/COMP3420">Advanced Databases and Data Mining</a></li>

            <div class="alert alert-info alert-dismissable" style="margin-top:25px;margin-bottom:5px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Getting in touch</strong><br>
                Contact Lexing if you are interested in collaborating, or are interested in doing research with us. 
            </div>
        </div>
    </div>
