{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">

    <div class="row" style="padding-bottom: 25px">
      <div class="col-md-12">
        <!-- <h2 class="page-header">
            Welcome!
        </h2> -->

        <p>
        The Computational Media Lab at the <a href=http://www.anu.edu.au/>ANU</a> focus on
        computational problems for understanding online media and their interactions with and among humans.
        We develop core methods in machine learning and optimization.
        We also formulate and solve problems in understanding online behavior, multimedia
        and the broader implications of machine intelligence.
        </p>

        <p>
        You may be interested in sampling the recent blog posts below, look at our <a href=/research>research summary</a>, <a href=/publications>publications</a>, <a href=/post>all past posts</a>, or navigate by categories and tags. <br />
        </p>
        <hr>

        <!-- Recent updates -->
        <h4><b>Recent updates</b></h4>
        <ul class="list-unstyled li-menu">
          <li><span class="update-time">2020-05</span>
            <span class="update-content">Check out our latest paper <a href="https://arxiv.org/abs/2004.08070">Transform and Tell: Entity-Aware News Image Captioning</a> at <a href="http://cvpr2020.thecvf.com/">CVPR 2020</a>. You can now create your own linguistically rich image caption from any New York Times article with our <a href="https://transform-and-tell.ml/">live demo</a>.
           </span></li>
           <li><span class="update-time">2019-09</span>
             <span class="update-content">Siqi Wu, Marian-Andrei Rizoiu and Lexing Xie recieved
             <a href=https://programs.sigchi.org/CSCW/2019/awards>Honourable Mention</a> from
             <a href=http://cscw.acm.org/2019/>ACM CSCW</a> for the paper <a href=https://arxiv.org/abs/1908.07123>Estimating Attention Flow in Online Video Networks</a>.
            </span></li>
            <li><span class="update-time">2019-08</span>
            <span class="update-content">Upcoming papers: Minjeong will present <a href=https://arxiv.org/abs/1907.12748>Influence Flowers</a> at VIS/VAST 2019,
              and Siqi will present measurements and estimation of <a href=https://arxiv.org/abs/1908.07123>Online Video Networks</a> at CSCW 2019.
            </span></li>
            <li><span class="update-time">2019-06</span>
            <span class="update-content">Our lab and our work is in the Data to Decision CRC
              <a href=https://youtu.be/AQIgE5qNh5s>celebration video</a>.
              In addition Minjeong has a <a href=https://youtu.be/smfigVM_e9g>short feature</a> dedicated to her research.
              </span></li>
            <li><span class="update-time">2019-01</span>
              <span class="update-content">Umanga will present <a href=https://techxplore.com/news/2018-12-approach-document-classification.html>Comparative Summarisation of News Collections</a> at AAAI'19, Minjeong, Siqi, Quyu, Umanga and Swpanil will present at the demo and doctoral symposium programs at WSDM 2019.
              </span></li>
            <li><span class="update-time">2019-01</span>
              <span class="update-content">Congratuations + best wishes to folks starting new positions in 2019:
                Marian-Anrei at <a href=https://www.uts.edu.au/staff/marian-andrei.rizoiu>UTS</a>,
                Dongwoo as tenure-track faculty at <a href=http://international.postech.ac.kr/>POSTECH<a/>,
                Tim is now <a href=https://staff.qut.edu.au/staff/timothy.graham>at QUT Digital Media and Communication</a>.
                We will miss you and hope to continue to work with you in various capacity.
              </span></li>
            <li><span class="update-time">2018-08</span>
              <span class="update-content"> Siqi Wu is awarded the <a href=https://australia.googleblog.com/2018/07/announcing-2018-phd-fellowships-to.html>2018 Google PhD fellowship</a>, his work is described by <a href=https://cs.anu.edu.au/news/anu-student-awarded-google-phd-fellowship>CECS News</a>.
                </span></li>
        </ul>
        See <a href=news>here</a> for archived news items.
      </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <!-- Blog Summary -->
            {{ range first 12 .Data.Pages}}
                {{ .Render "summary" }}
            {{ end }}

        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
        {{ partial "menu.html" . }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h3>Thanks</h3>
            Our work has been supported by <a href=https://www.nicta.com.au/>NICTA/Data61</a>, <a href=http://www.arc.gov.au/>The Australian Research Coucil</a>, <a href=https://twitter.com/AFOSR>AFOSR - Airforce Office of Scientific Research</a>, <a href=http://www.industry.gov.au/Pages/default.aspx>Australia Deparment of Industry, Innovation and Science</a>, <a href=http://www.d2dcrc.com.au>Data to Decision CRC</a>.
        </div>
    </div>

{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
