{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">

    <div class="row" style="padding-bottom: 25px">
      <div class="col-md-12">
        <!-- <h2 class="page-header">
            Welcome!
        </h2> -->

        <p>
        The Computational Media Lab at the <a href=http://www.anu.edu.au/>ANU</a> focus on
        computational problems for understanding online media and their interactions with and among humans.
        We develop core methods in machine learning and optimization.
        We also formulate and solve problems in understanding online behavior, multimedia
        and the broader implications of machine intelligence.
        </p>

        <p>
        You may be interested in sampling the recent blog posts below, look at our <a href=/research>research summary</a>, <a href=/publications>publications</a>, <a href=/post>all past posts</a>, or navigate by categories and tags. <br />
        </p>
        <hr>

        <!-- Recent updates -->
        <h4><b>Recent updates</b></h4>
        <ul class="list-unstyled li-menu">
           <li><span class="update-time">2023-05</span>
            <span class="update-content">The Web Conference and ICLR 2023 are taking place this month! Haiqing is presenting 
                <a href="https://arxiv.org/abs/2302.06226">Stability and Efficiency of Personalised Cultural Markets</a> at the former, 
                and Alasdair is presenting <a href="https://openreview.net/forum?id=tmIiMPl4IPa">Factorized Fourier Neural Operators</a> at the latter. 
           </span></li>
          <li><span class="update-time">2022-02</span>
            <span class="update-content">We will be teaching Statistical Machine Learning again <a href=/sml2022>this semester</a>, look forward to a semester of learning with 200+ students.
           </span></li>
          <li><span class="update-time">2021-10</span>
            <span class="update-content">Lexing gave a talk at University of Michigan <a href=https://www.si.umich.edu/about-umsi/news/data-science/computational-social-science-seminars-fall-roster-announced>
              Data Science/Computational Social Science Seminar</a>.
           </span></li>
          <li><span class="update-time">2021-07</span>
            <span class="update-content">Lexing gave talks at on the measurement and machine learning for popularity (viral videos, how and why),
              at KAIST (<a href=https://ds.ibs.re.kr/event/2021-07-13/>info</a>), Monash University,
              and ANU AI+ML seminar series (<a href=https://youtu.be/Dc9UfGmFrXs>video</a>).
           </span></li>
          <li><span class="update-time">2021-06</span>
            <span class="update-content">Lexing gave an invited talk at the <a href=https://fvc-workshop.github.io/>CVPR FVC workshop</a> on
              <a href="https://www.youtube.com/watch?v=RXHIWLTwdbo">"Captioning Images with Knowledge and Style"</a>,
              the video is <a href="https://www.youtube.com/watch?v=RXHIWLTwdbo">here</a>.
           </span></li>
          <li><span class="update-time">2021-04</span>
            <span class="update-content">Check out our paper at TheWebConf 2021 <a href="https://arxiv.org/abs/2102.07289.pdf">Radflow: A Recurrent, Aggregated, and Decomposable Model for Networks of Time Series</a>.
              You can browse and search in the networks of time series for Vevo music videos and Wikipedia traffic at <a href="https://attentionflow.ml/#/overview/basic">AttentionFlow.ml</a>.
           </span></li>

        </ul>
        See <a href=news>here</a> for archived news items.

        <!-- Recent talks -->
        <h4><b>Recent talks and video demos</b></h4>
        <!-- To add a video, go to footer.html and update the variable "videos_to_add" with video IDs -->
        <div class='slider'></div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <!-- Blog Summary -->
            {{ range first 12 (where .Site.RegularPages "Type" "post") }}
                {{ .Render "summary" }}
            {{ end }}

        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
        {{ partial "menu.html" . }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h3>Thanks</h3>
            Our work has been supported by <a href=https://www.nicta.com.au/>NICTA/Data61</a>, <a href=http://www.arc.gov.au/>The Australian Research Coucil</a>, <a href=https://twitter.com/AFOSR>AFOSR - Airforce Office of Scientific Research</a>, <a href=http://www.industry.gov.au/Pages/default.aspx>Australia Deparment of Industry, Innovation and Science</a>, <a href=http://www.d2dcrc.com.au>Data to Decision CRC</a>.
        </div>
    </div>

{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
